  <footer class="page-footer font-small primary darken-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5" style="height:60px; margin-left: 460px;">
            <a mat-icon-button aria-label="Mail">
              <fa-icon class="fa-4x" [icon]="faEnvelope"></fa-icon>
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <a mat-icon-button aria-label="Learn">
              <fa-icon class="fa-4x" [icon]="faGraduationCap"></fa-icon>
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <a mat-icon-button aria-label="Log out">
              <fa-icon class="fa-4x" [icon]="faPowerOff"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      &copy; 2016 Company, Inc.
    </div>
  </footer>