<mat-card class="main">
	<mat-card-title>Tous les articles</mat-card-title>
	<a routerLink="/creation/article" *ngIf="authenticationService.isSuperUser()">Créer un article</a>
	<mat-card-content *ngIf="articles">
			<div *ngFor="let a of articles" class="list-element">
				<a routerLink="/article/{{a.id}}">
					<img *ngIf="a.illustration" src="{{a.illustration}}" alt="Image indisponible"/>
					<div class="list-element-text">
						<b>{{a.title}}</b><br />
						<span *ngIf="a.date">Écrit le {{a.date.substring(0, 10)}} </span>
						<span *ngIf="a.hour">à {{a.hour}} </span>
						<span *ngIf="a.author"> par {{a.author}}</span>
					</div>
				</a>
			</div>
	</mat-card-content>
</mat-card>
