
<div class="principal">

  <h1>Bonjour {{currentUser.firstname}}!</h1>
  <h3>Voici les infos enregistrées de ton compte:</h3>

    <span> Nom: {{currentUser.name}} ,</span><br/>
    <span> Prenom: {{currentUser.firstname}} ,</span><br/>
    <span> Id: {{currentUser.id}} ,</span><br/>
    <span> Email: {{currentUser.email}} ,</span><br/>
    <span> Mdp: {{currentUser.password}} ,</span><br/>
    <span> Token: {{currentUser.token}} ,</span><br/>
    <span> Role: {{currentUser.authority}}</span><br/>

    <br/>
  </div>
