
<div class="principal">

  <h1>Bonjour {{currentUser.prenom}}!</h1>
  <h3>Voici les infos enregistrées de ton compte:</h3>

    <span> Nom: {{currentUser.nom}} ,</span><br/>
    <span> Prenom: {{currentUser.prenom}} ,</span><br/>
    <span> Id: {{currentUser.id}} ,</span><br/>
    <span> Email: {{currentUser.email}} ,</span><br/>
    <span> Mdp: {{currentUser.mdp}} ,</span><br/>
    <span> Token: {{currentUser.token}} ,</span><br/>
    <span> Role: {{currentUser.role}}</span><br/>

    <br/>
    <div *ngIf="authenticationService.currentUserValue.role!=='ROLE_UTILISATEUR'">
      <span>    - - - - - - - - - - - - - - -</span>

      <h3>Liste des utilisateurs:</h3>

      <ul>
        <li *ngFor="let user of users">
            ({{user.prenom}} {{user.nom}}) {{user.role}}
            <a (click)="modifyUser(user.id)" class="text-danger">Modifier</a>
            - <a (click)="deleteUser(user.id)" class="text-danger">Supprimer</a>
        </li>
      </ul>
    </div>
    <br/>
  </div>
