<mat-card class="main">
	<mat-card-title>Tous les évènements</mat-card-title>
	<a routerLink="/creation/event" *ngIf="authenticationService.isSuperUser()">Créer un article</a>
	<mat-card-content *ngIf="events">
		<div *ngFor="let e of events" class="list-element">			
			<a routerLink="/event/{{e.id}}">
				<img *ngIf="e.image" src="{{e.image}}" alt="Image indisponible"/>
				<div class="list-element-text">
					<b>{{e.name}}</b><br />
					<span *ngIf="e.date">Le {{e.date.substring(0, 10)}}, </span>
					<span *ngIf="e.hour"> {{e.hour}} </span>
					<span *ngIf="e.place"> à {{e.place}}</span>
				</div>
			</a>
		</div>
	</mat-card-content>
</mat-card>
