<mat-card class="principal">
	<mat-card-title>
		{{titre}}
	</mat-card-title>
	<mat-card-content [formGroup]="loginForm" class="formulaire" >

		<mat-form-field class="form-group">
    		<mat-label>Nom</mat-label>
			<input matInput formControlName="nom" class="form-control" type="text" value=""/>
		</mat-form-field>
		<br/>

		<mat-form-field class="form-group">
			<mat-label>Mot de passe</mat-label>
			<input matInput formControlName="mdp" class="form-control" type="password" value=""/>
		</mat-form-field>
		<br/>

		<button mat-flat-button color="primary" (click)="connexion()">Se connecter</button>
	</mat-card-content>
</mat-card>
