.principal{
	margin:5%;
	text-align: center;
	background-color:lightgray;
}

.form-group{
	width:50%;
}

textarea{
	border: 1px solid black;
	height:200px;
	border-radius: 3px;
}

button{
	margin-top:10px;
	width:50%;
}