<mat-card class="main">
	<mat-card-title>
		{{titre}}
	</mat-card-title>
	<mat-card-content *ngIf="mode==0||event" class="formulaire">
		<mat-form-field class="field">
    		<mat-label>Nom de l'évènement</mat-label>
			<input matInput type="text" value="{{event.name}}" [formControl]="name" />
		</mat-form-field><br />
		<mat-form-field class="field">
			<mat-label>Lien de l'image d'illustration</mat-label>
		<input matInput type="url" value="{{event.image}}" [formControl]="image" />
		</mat-form-field><br />
		<mat-form-field class="field">
			<mat-label>Lieu de l'évènement</mat-label>
			<input matInput type="text" value="{{event.place}}" [formControl]="place" />
		</mat-form-field><br />
		<mat-form-field class="field">
			<mat-label>Nom de l'organisateur</mat-label>
			<input matInput type="text" value="{{event.organizer}}" [formControl]="organizer" />
		</mat-form-field><br />
		<mat-form-field class="field">
  			<mat-label>Date</mat-label>
  			<input matInput value="{{event.date}}" [matDatepicker]="picker" [formControl]="date">
  			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field><br />
		<mat-form-field class="field">
			<mat-label>Heure</mat-label>
			<input matInput type="time" value="{{event.hour}}" [formControl]="hour" />
		</mat-form-field><br />
		<mat-form-field class="field">
			<mat-label>Vidéo Youtube</mat-label>
			<input matInput type="url" value="{{event.linkVideo}}" [formControl]="linkVideo" />
		</mat-form-field><br />
		<textarea class="field" matInput value="{{event.contentArticle}}" placeholder="Article descriptif de l'évènement" [formControl]="contentArticle"></textarea><br />
		<button mat-flat-button color="primary" (click)="create()">Créer l'évènement</button>
	</mat-card-content>
</mat-card>
