.main{
	margin:5%;
	text-align: center;
	background-color:lightgray;
}

img{
	max-height:100px;
	max-width:35%;
	float:left;
	
	margin-left:7.5%;
}
.carousel-text{
	position: absolute; 
	bottom:0; 
	width:100%; 
	text-align:center; 
	margin-left:-50%; 
	font-size: 24px; 
	background-color:#eeeceb
}
.list-element{
	display:inline-block; 
	border: solid 1px black; 
	width:50.1%; 
	vertical-align:50%; 
	border-radius:10px; 
	background-color:#eeeceb
}
.list-element-text{
	width:50%; 
	float:left; 
	text-align:left; 
	margin:3%;
}